
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]


# php.ini rewrites
php_flag register_globals off
php_flag allow_url_fopen on

# Max vars. Only for Facebook App.
php_value max_input_vars 100000000

php_value max_input_time -1
php_value max_execution_time 0
php_value memory_limit 1000M
php_value post_max_size 200M
php_value upload_max_filesize 200M

php_value error_reporting -1
php_flag display_errors On

php_value date.timezone Europe/Kiev

php_value mbstring.language Russian
php_value mbstring.internal_encoding UTF-8
php_value mbstring.func_overload 0

php_flag magic_quotes_gpc Off
php_flag magic_quotes_runtime Off
php_flag magic_quotes_sybase Off
